<div th:fragment="addItemModal">
    <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addItemModalLabel">Добавить элемент</h5>
                </div>
                <div class="modal-body">
                    <form id="addItemForm">
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="activeCheckbox">
                            <label class="form-check-label" for="activeCheckbox">Активно</label>
                        </div>
                        <label class="form-label">Иконка</label>
                        <div class="dropdown mb-3">
                            <button class="btn btn-light dropdown-toggle p-1" type="button" id="iconDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <img id="iconSelect" src="images/item1.icon" width="32" height="32" alt="Иконка">
                            </button>
                            <ul class="dropdown-menu p-1" aria-labelledby="iconDropdownButton" style="min-width: auto;">
                                <li><a class="dropdown-item p-1" href="#" onclick="selectIcon('images/item1.icon')"><img src="images/item1.icon" width="32" height="32" alt="Иконка 1"></a></li>
                                <li><a class="dropdown-item p-1" href="#" onclick="selectIcon('images/item2.icon')"><img src="images/item2.icon" width="32" height="32" alt="Иконка 2"></a></li>
                                <li><a class="dropdown-item p-1" href="#" onclick="selectIcon('images/item3.icon')"><img src="images/item3.icon" width="32" height="32" alt="Иконка 3"></a></li>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label for="nameInput" class="form-label">Название</label>
                            <input type="text" class="form-control" id="nameInput" required maxlength="255">
                        </div>
                        <div class="mb-3">
                            <label for="descriptionInput" class="form-label">Описание</label>
                            <textarea class="form-control" id="descriptionInput" maxlength="5000" required></textarea>
                            <small id="charCount" class="form-text text-muted">0/5000</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex">
                    <button type="button" class="btn btn-primary" id="saveButton">Создать</button>
                    <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal" data-bs-target="#addItemModal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>
